SPRING_PROFILES_ACTIVE=local
SERVER_PORT=9001

DB_URL=jdbc:postgresql://localhost:5432/central_alert
DB_USERNAME=admin
DB_PASSWORD=admin_macbook
DB_POOL_MAX_SIZE=10

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_STARTTLS_ENABLED=false
MAIL_DEFAULT_FROM=no-reply@example.com

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=centralized-alert-consumer
ALERT_KAFKA_TOPIC=centralized-alert.requested
ALERT_KAFKA_DLT_TOPIC=centralized-alert.requested.dlt

OAUTH2_ISSUER_URI=http://localhost:8081/realms/centralized-alert
OAUTH2_JWK_SET_URI=http://localhost:8081/realms/centralized-alert/protocol/openid-connect/certs

ALERT_PICKUP_ENABLED=true
ALERT_PICKUP_INTERVAL=PT1M
ALERT_PICKUP_BATCH_SIZE=50
ALERT_MAX_RETRY=5

ATTACHMENT_STORAGE_TYPE=LOCAL
ATTACHMENT_LOCAL_DIRECTORY=./data/attachments

LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APPLICATION=DEBUG